body {
	width: 0 auto;
	margin: 0 auto;	
	height: 0 auto;
	color: #665555;
	background-color: #fafafa;
}


.hello h1 {
	font-family: "Source Sans Pro",sans-serif;
	color: black;
	font-weight: 300;
	font-size: 60px;
	padding-top: 200px;
}

.hello {
	font-family: 'Quicksand', sans-serif;
	text-align: center;
	font-size: 36px;
}


a {
	text-decoration: none;
}

/* LINKS */
a:link {
    color: #ff6666;
    opacity: 0.7;
}

a:visited {
    color: #ff6666;
    opacity: 0.7;

}

a:hover {
    color: #ff6666;
    opacity: 1;
}

a:active {
    color: #ff6666;
    opacity: 1;

}



.intro {
	height: 0 auto;
	background-color: white;
	border: none;
	min-width: 320px;
	margin-left: 150px;
	margin-right: 150px;
	padding-top: 75px;
	padding-bottom: 75px;
}

h2 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	text-align: center;
}


p {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	line-height: 1.5;
	font-size: 18px;
}

p2 {
	font-family: 'Source Sans Pro', sans-serif;
	line-height: 1.5;
	font-size: 20px;
}


.social {
	background-color: #fafafa;
	margin: 10px;
	margin-top: 75px;
	margin-bottom: 30px;
}

.social a:link {
    opacity: 1.0;
}


footer a:link {
    color: #665555;
    opacity: 1.0;
}


footer {
	width: 0 auto;
	height: 60px;
	color: #665555;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 13px;
	text-align: right;
	padding-top: 20px; 
	padding-right: 30px;
}


